<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Suppress verbose logs from libraries -->
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="io.ktor" level="DEBUG"/>
    <logger name="io.modelcontextprotocol" level="TRACE"/>

    <!-- GitHub API library logs -->
    <logger name="org.kohsuke.github" level="DEBUG"/>
</configuration>
